# Permisos en WSL2
AIRFLOW_UID=10000 #o sudo
AIRFLOW_GID=0

# Credenciales de Base de Datos Base (Para la metadata de Airflow)
POSTGRES_USER= #airflow o deseado
POSTGRES_PASSWORD= #airflow_pass_seguro o deseado
POSTGRES_DB= #airflow o deseado

# Credenciales del Data Warehouse (Tesis)
DW_DB_NAME= #credit_risk_warehouse o deseado
DW_USER= #etl_admin o deseado
DW_PASSWORD= #etl_pass_seguro o deseado

# Claves de Seguridad de Airflow
FERNET_KEY=#Autogenerada
WEBSERVER_SECRET_KEY=#Autogenerada

# Conexión Segura de Airflow hacia el Data Warehouse
AIRFLOW_CONN_POSTGRES_ETL= #postgresql://etl_admin:etl_pass_seguro@postgres:5432/credit_risk_warehouse o deaseado

#Kaggle dataset oculto por privacidad
DRIVE_FILE_ID= #subir el dataset a un drive, hacer que cualquiera con link pueda verlo e ingresar el ID aquí