# Permisos en WSL2
AIRFLOW_UID=1000
AIRFLOW_GID=0

# Credenciales de Base de Datos Base (Para la metadata de Airflow)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow_pass_seguro
POSTGRES_DB=airflow

# Credenciales del Data Warehouse (Tesis)
DW_DB_NAME=credit_risk_warehouse
DW_USER=etl_admin
DW_PASSWORD=etl_pass_seguro

# Claves de Seguridad de Airflow (Se llenarán en el paso 3)
FERNET_KEY=
WEBSERVER_SECRET_KEY=

# Conexión Segura de Airflow hacia el Data Warehouse
AIRFLOW_CONN_POSTGRES_ETL=postgresql://etl_admin:etl_pass_seguro@postgres:5432/credit_risk_warehouse
