# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment
.env

# Directorios de Airflow (Ignoramos el contenido dinámico, no las carpetas en sí)
logs/*
!logs/.gitkeep
plugins/*
!plugins/.gitkeep

# IDEs
.vscode/
.idea/

# Datos confidenciales
data/raw/*
!data/raw/.gitkeep

#Python virtual env y archivo para pruebas locales v1.0
env_idp/*
#*.jpg
#mock_idp_engine.py

